.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  font-size: 18px;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 100px;
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: fixed;
  background-image: url("../../assets/bg-3.jpg");
}

.hero-section::after {
  background-color: #f9fcff;
  content: "";
  height: 40rem;
  position: absolute;
  top: 90%;
  left: -5%;
  right: -5%;
  transform: rotateZ(-4deg);
  transform-origin: 0 0;
  z-index: 0;
}
